# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'

# Google Sheets inventory
GOOGLE_SHEET_ID=your_sheet_id
GOOGLE_SHEET_RANGE=Inventory!A2:C
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
